{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
%}

<h1 class="text-center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <div class="container">
    <li class="list-group-item">
      {{ note.note }}
      <button
        class="btn btn-primary close"
        type="button"
        onClick="deleteNode({{ note.id }})"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
  </div>
  {% endfor %}
</ul>
<br />
<br />

<form method="POST">
  <textarea
    name="note"
    id="note"
    cols="30"
    rows="10"
    class="form-control"
  ></textarea>
  <br />
  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}
